@layer base {
  :root {
    --background: oklch(0.9551 0 0);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(0.9702 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(0.9702 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.4891 0 0);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9067 0 0);
    --secondary-foreground: oklch(0.3211 0 0);
    --muted: oklch(0.8853 0 0);
    --muted-foreground: oklch(0.5103 0 0);
    --accent: oklch(0.8078 0 0);
    --accent-foreground: oklch(0.3211 0 0);
    --destructive: oklch(0.5594 0.1900 25.8625);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8576 0 0);
    --input: oklch(0.9067 0 0);
    --ring: oklch(0.4891 0 0);
    --radius: 0.35rem;
    --font-sans: Montserrat, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --tracking-normal: 0em;
  }

  .dark {
    --background: oklch(0.2178 0 0);
    --foreground: oklch(0.8853 0 0);
    --card: oklch(0.2435 0 0);
    --card-foreground: oklch(0.8853 0 0);
    --popover: oklch(0.2435 0 0);
    --popover-foreground: oklch(0.8853 0 0);
    --primary: oklch(0.7058 0 0);
    --primary-foreground: oklch(0.2178 0 0);
    --secondary: oklch(0.3092 0 0);
    --secondary-foreground: oklch(0.8853 0 0);
    --muted: oklch(0.2850 0 0);
    --muted-foreground: oklch(0.5999 0 0);
    --accent: oklch(0.3715 0 0);
    --accent-foreground: oklch(0.8853 0 0);
    --destructive: oklch(0.6591 0.1530 22.1703);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3290 0 0);
    --input: oklch(0.3092 0 0);
    --ring: oklch(0.7058 0 0);
    --radius: 0.35rem;
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    letter-spacing: var(--tracking-normal);
  }
}

